<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewe.dao.report.UsedCountMapper">
  
  <select id="selectUsedCountByMap" parameterType="java.util.Map" resultType="java.lang.Integer">
  	SELECT COUNT(c.num) FROM (
	  	SELECT 
		  COUNT(a.id) AS num
		FROM
		  report_info AS a  LEFT JOIN hospital AS b 
		  ON a.hospital_id = b.id
  	<where>
  		a.channel_id IS NOT NULL AND a.hospital_id IS NOT NULL AND a.check_item_id IS NOT NULL
    	<if test="channelId != null">
    		a.channel_id = #{channelId}
    	</if>
    	<if test="hospitalId != null">
    		and a.hospital_id = #{hospitalId}
    	</if>
    	<if test="checkItemId != null">
    		and a.check_item_id = #{checkItemId}
    	</if>
    	<if test="provinceCode != null">
    		and b.province_code = #{provinceCode}
    	</if>
    	<if test="cityCode != null">
    		and b.city_code = #{cityCode}
    	</if>
    	<if test="countyCode != null">
    		and b.county_code = #{countyCode}
    	</if>
    	<if test="queryDate != null">
    		and DATE_FORMAT(a.hospital_scan_time, '%Y-%m-%d') = #{queryDate}
    	</if>
    </where>
    GROUP BY a.channel_id, a.hospital_id, a.check_item_id )AS c
  </select>
  <select id="selectUsedCountListByMap" parameterType="java.util.Map" resultType="com.lewe.bean.report.vo.UsedCountInfo">
  	SELECT 
	  a.channel_id as channelId,
	  a.hospital_id as hospitalId,
	  b.hospital_name as hospitalName,
	  b.area_code_name as areaCodeName,
	  a.check_item_id as checkItemId,
	  a.hospital_scan_time 
	FROM
	  report_info AS a  LEFT JOIN hospital AS b 
	  ON a.hospital_id = b.id
  	<where>
  		a.channel_id IS NOT NULL AND a.hospital_id IS NOT NULL AND a.check_item_id IS NOT NULL
    	<if test="channelId != null">
    		a.channel_id = #{channelId}
    	</if>
    	<if test="hospitalId != null">
    		and a.hospital_id = #{hospitalId}
    	</if>
    	<if test="checkItemId != null">
    		and a.check_item_id = #{checkItemId}
    	</if>
    	<if test="provinceCode != null">
    		and b.province_code = #{provinceCode}
    	</if>
    	<if test="cityCode != null">
    		and b.city_code = #{cityCode}
    	</if>
    	<if test="countyCode != null">
    		and b.county_code = #{countyCode}
    	</if>
    	<if test="queryDate != null">
    		and DATE_FORMAT(a.hospital_scan_time, '%Y-%m-%d') = #{queryDate}
    	</if>
    </where>
    GROUP BY a.channel_id, a.hospital_id, a.check_item_id 
    <if test="startIndex !=null and pageSize !=null">
    	LIMIT #{startIndex},#{pageSize}
    </if>
  </select>
</mapper>