<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lewe.dao.hospital.HospitalLinkmanMapper">
  <resultMap id="BaseResultMap" type="com.lewe.bean.hospital.HospitalLinkman">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="hospital_id" jdbcType="BIGINT" property="hospitalId" />
    <result column="link_name" jdbcType="VARCHAR" property="linkName" />
    <result column="link_phone" jdbcType="VARCHAR" property="linkPhone" />
  </resultMap>
  <sql id="Base_Column_List">
    id, hospital_id, link_name, link_phone
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from hospital_linkman
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hospital_linkman
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lewe.bean.hospital.HospitalLinkman">
    insert into hospital_linkman (id, hospital_id, link_name, 
      link_phone)
    values (#{id,jdbcType=INTEGER}, #{hospitalId,jdbcType=BIGINT}, #{linkName,jdbcType=VARCHAR}, 
      #{linkPhone,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lewe.bean.hospital.HospitalLinkman">
    insert into hospital_linkman
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="hospitalId != null">
        hospital_id,
      </if>
      <if test="linkName != null">
        link_name,
      </if>
      <if test="linkPhone != null">
        link_phone,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="hospitalId != null">
        #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="linkName != null">
        #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        #{linkPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lewe.bean.hospital.HospitalLinkman">
    update hospital_linkman
    <set>
      <if test="hospitalId != null">
        hospital_id = #{hospitalId,jdbcType=BIGINT},
      </if>
      <if test="linkName != null">
        link_name = #{linkName,jdbcType=VARCHAR},
      </if>
      <if test="linkPhone != null">
        link_phone = #{linkPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lewe.bean.hospital.HospitalLinkman">
    update hospital_linkman
    set hospital_id = #{hospitalId,jdbcType=BIGINT},
      link_name = #{linkName,jdbcType=VARCHAR},
      link_phone = #{linkPhone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByHospitalId" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	SELECT <include refid="Base_Column_List" /> FROM hospital_linkman
  	<where>
    	<if test="hospitalId != null">
    		hospital_id = #{hospitalId}
    	</if>
    </where>
  </select>
</mapper>